# Virtual Environment
venv/

# Environment Variables
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# VS Code
.vscode/

# macOS
.DS_Store

# Streamlit
.streamlit/

# Logs
*.log

# ChromaDB Cache
chroma_db/

# Resume Uploads
uploads/